@import "main-variables";

.post {

  .post-date-ct {
    border: solid 1px lighten(@m_nospa_body_text_color, 33%);
    border-radius: 0.25em;
    padding: 0 0.25em;
    background-color: lighten(@m_nospa_body_text_color, 33%);
    color: @m_nospa_body_bg_color;
  }

  .tags {
    margin-top: 0.5em;
    .post-tag-ct {
      margin-right: 1em;
      &:last-child {
        margin-right: inherit;
      }
    }

  }

}