header.body-row.page-header
    div.body-row-content.flex-ct
        div.pane.left
            div.header-titles-ct
                h1.header-title
                    span#greeting Здравствуйте.
                    span &nbsp;Меня зовут Максим Гордеев
                p.header-subtitle
                    span.
                        и я живу в России со своею семьёй. Я программист, и это ремесло меня радует. Область
                        моих профессиональных интересов &mdash; это веб-фронтенд:&nbsp;
                    span.mini-bage AngularJS
                    span ,&nbsp;
                    span.mini-bage React
                    span.
                        &nbsp;и вот это всё. Я большим почтением и любовью отношусь к&nbsp;
                    span.mini-bage JavaScript
                    span.
                        , в том числе и не только внутри браузеров.
        div.pane.right
            div.header-img-wrapper
                img.header-img()

