aside.sidebar
    div.sidebar-content
        ul.unstyled
            li.sidebar-listitem
                h4 Соц кнопки
                ul.unstyled
                    li
                        div.soc-line
                            div.soc-icon.icon-github
                            div#github-card.soc-ct
                                a(href='https://github.com/maxnetish') Гитхаб с полезным и безполезным кодом


